<a href="https://colab.research.google.com/github/medqbs/tokyo_houses_prices_prediction/blob/main/tokyo_cleaned_data_1m.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
import seaborn as sns

%matplotlib inline

print('Libraries imported.')

Libraries imported.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
tokyo_data = pd.read_csv("/content/drive/MyDrive/tokyo_cleaned_data.csv", index_col=0)
tokyo_data.head(2)

,type,transaction_period,building_structure,city_planning,construction_year,location,nearest_station,distance_to_station,area,building_age,maximum_coverage_ratio,maximum_floor_area_ratio,price
0,"Pre-owned Condominiums, etc.",4th quarter 2020,RC,Commercial Zone,2007,Iidabashi,Iidabashi,5,35,13,0.8,5.0,59000000.0
1,"Pre-owned Condominiums, etc.",4th quarter 2020,RC,Commercial Zone,2003,Iidabashi,Iidabashi,5,20,17,0.8,5.0,23000000.0

In [ ]:
tokyo_data.reset_index(drop=True, inplace=True)
tokyo_data.head(2)

,type,transaction_period,building_structure,city_planning,construction_year,location,nearest_station,distance_to_station,area,building_age,maximum_coverage_ratio,maximum_floor_area_ratio,price
0,"Pre-owned Condominiums, etc.",4th quarter 2020,RC,Commercial Zone,2007,Iidabashi,Iidabashi,5,35,13,0.8,5.0,59000000.0
1,"Pre-owned Condominiums, etc.",4th quarter 2020,RC,Commercial Zone,2003,Iidabashi,Iidabashi,5,20,17,0.8,5.0,23000000.0

In [ ]:
# convert the price from JPY to USD
# conversion rate = 0.0084 (Mar 20, 2022)

tokyo_data["price"] = tokyo_data["price"]*0.0084
tokyo_data.head(2)

,type,transaction_period,building_structure,city_planning,construction_year,location,nearest_station,distance_to_station,area,building_age,maximum_coverage_ratio,maximum_floor_area_ratio,price
0,"Pre-owned Condominiums, etc.",4th quarter 2020,RC,Commercial Zone,2007,Iidabashi,Iidabashi,5,35,13,0.8,5.0,4807.32
1,"Pre-owned Condominiums, etc.",4th quarter 2020,RC,Commercial Zone,2003,Iidabashi,Iidabashi,5,20,17,0.8,5.0,1874.04

In [ ]:
tokyo_data["price"].min()

19.5552

In [ ]:
tokyo_data["price"].max()

700728.0

In [ ]:
tokyo_data.drop(tokyo_data.loc[tokyo_data["price"]>1000000].index, inplace=True)

tokyo_data

,type,transaction_period,building_structure,city_planning,construction_year,location,nearest_station,distance_to_station,area,building_age,maximum_coverage_ratio,maximum_floor_area_ratio,price
0,"Pre-owned Condominiums, etc.",4th quarter 2020,RC,Commercial Zone,2007,Iidabashi,Iidabashi,5,35,13,0.8,5.0,4807.320
1,"Pre-owned Condominiums, etc.",4th quarter 2020,RC,Commercial Zone,2003,Iidabashi,Iidabashi,5,20,17,0.8,5.0,1874.040
2,"Pre-owned Condominiums, etc.",4th quarter 2020,RC,Commercial Zone,2003,Iidabashi,Iidabashi,5,20,17,0.8,5.0,2118.480
3,"Pre-owned Condominiums, etc.",3rd quarter 2020,RC,Commercial Zone,2007,Iidabashi,Iidabashi,4,60,13,0.8,5.0,7170.240
4,"Pre-owned Condominiums, etc.",2nd quarter 2020,SRC,Commercial Zone,1985,Iidabashi,Iidabashi,3,95,35,0.8,7.0,4725.840
...,...,...,...,...,...,...,...,...,...,...,...,...,...
132362,"Pre-owned Condominiums, etc.",1st quarter 2013,RC,Industrial Zone,2000,Yatocho,Hibarigaoka (Tokyo),11,60,20,0.6,2.0,1955.520
132363,"Pre-owned Condominiums, etc.",1st quarter 2013,SRC,Industrial Zone,1996,Yatocho,Hibarigaoka (Tokyo),12,65,24,0.6,2.0,2525.880
132364,"Pre-owned Condominiums, etc.",4th quarter 2013,RC,Neighborhood Commercial Zone,1987,Oaza Hakonegasaki,Hakonegasaki,3,40,33,0.8,2.0,358.512
132365,"Pre-owned Condominiums, etc.",3rd quarter 2013,RC,Neighborhood Commercial Zone,1987,Oaza Hakonegasaki,Hakonegasaki,3,20,33,0.8,2.0,179.256
132366,"Pre-owned Condominiums, etc.",3rd quarter 2013,RC,Industrial Zone,1989,Hakonegasakihigashimatsubara,Hakonegasaki,14,40,31,0.6,2.0,407.400

In [ ]:
tokyo_data.reset_index(drop=True, inplace=True)
tokyo_data.head()

,type,transaction_period,building_structure,city_planning,construction_year,location,nearest_station,distance_to_station,area,building_age,maximum_coverage_ratio,maximum_floor_area_ratio,price
0,"Pre-owned Condominiums, etc.",4th quarter 2020,RC,Commercial Zone,2007,Iidabashi,Iidabashi,5,35,13,0.8,5.0,4807.32
1,"Pre-owned Condominiums, etc.",4th quarter 2020,RC,Commercial Zone,2003,Iidabashi,Iidabashi,5,20,17,0.8,5.0,1874.04
2,"Pre-owned Condominiums, etc.",4th quarter 2020,RC,Commercial Zone,2003,Iidabashi,Iidabashi,5,20,17,0.8,5.0,2118.48
3,"Pre-owned Condominiums, etc.",3rd quarter 2020,RC,Commercial Zone,2007,Iidabashi,Iidabashi,4,60,13,0.8,5.0,7170.24
4,"Pre-owned Condominiums, etc.",2nd quarter 2020,SRC,Commercial Zone,1985,Iidabashi,Iidabashi,3,95,35,0.8,7.0,4725.84

In [ ]:
tokyo_data.to_csv('tokyo_cleaned_data_1m.csv')

In [ ]:
# data normalization

def data_norm(df):
    df = (df - df.min())/(df.max()-df.min())
    return df

attributes_list = ["distance_to_station","area","maximum_coverage_ratio","maximum_floor_area_ratio","building_age","price"]

data_norm = data_norm(tokyo_data[attributes_list])

data_norm

,distance_to_station,area,maximum_coverage_ratio,maximum_floor_area_ratio,building_age,price
0,0.05,0.012563,1.0,0.36,0.197368,0.006833
1,0.05,0.005025,1.0,0.36,0.250000,0.002647
2,0.05,0.005025,1.0,0.36,0.250000,0.002995
3,0.04,0.025126,1.0,0.36,0.197368,0.010205
4,0.03,0.042714,1.0,0.52,0.486842,0.006716
...,...,...,...,...,...,...
132362,0.11,0.025126,0.6,0.12,0.289474,0.002763
132363,0.12,0.027638,0.6,0.12,0.342105,0.003577
132364,0.03,0.015075,1.0,0.12,0.460526,0.000484
132365,0.03,0.005025,1.0,0.12,0.460526,0.000228
132366,0.14,0.015075,0.6,0.12,0.434211,0.000554

In [ ]:
data_norm.to_csv('tokyo_data_norm_1m.csv')