<a href="https://colab.research.google.com/github/medqbs/tokyo_houses_prices_prediction/blob/main/tokyo_data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tokyo Real Estate Data Cleaning
## (Data from 2013 to 2021)

## Notebook Author: MOHAMMED EL QABS

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
import seaborn as sns

%matplotlib inline

print('Libraries imported.')

Libraries imported.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
tokyo_data = pd.read_csv("/content/drive/MyDrive/tokyo_house_price.csv", encoding= 'unicode_escape')

tokyo_data

,No,Type,Region,"City,Town,Ward,Village code",Prefecture,"City,Town,Ward,Village",Area,Nearest stationFName,Nearest stationFDistance(minute),Transaction-price(total),...,Purpose of Use,Frontage roadFDirection,Frontage roadFClassification,Frontage roadFBreadth(m),City Planning,Maximus Building Coverage Ratio(%),Maximus Floor-area Ratio(%),Transaction period,Renovation,Transactional factors
0,1,"Pre-owned Condominiums, etc.",NaN,13101,Tokyo,Chiyoda Ward,Iidabashi,Iidabashi,5,59000000,...,House,NaN,NaN,NaN,Commercial Zone,80.0,500.0,4th quarter 2020,Not yet,NaN
1,2,"Pre-owned Condominiums, etc.",NaN,13101,Tokyo,Chiyoda Ward,Iidabashi,Iidabashi,5,23000000,...,House,NaN,NaN,NaN,Commercial Zone,80.0,500.0,4th quarter 2020,Not yet,NaN
2,3,"Pre-owned Condominiums, etc.",NaN,13101,Tokyo,Chiyoda Ward,Iidabashi,Iidabashi,5,26000000,...,House,NaN,NaN,NaN,Commercial Zone,80.0,500.0,4th quarter 2020,Done,NaN
3,4,"Pre-owned Condominiums, etc.",NaN,13101,Tokyo,Chiyoda Ward,Iidabashi,Iidabashi,4,88000000,...,House,NaN,NaN,NaN,Commercial Zone,80.0,500.0,3rd quarter 2020,Not yet,NaN
4,5,"Pre-owned Condominiums, etc.",NaN,13101,Tokyo,Chiyoda Ward,Iidabashi,Iidabashi,3,58000000,...,House,NaN,NaN,NaN,Commercial Zone,80.0,700.0,2nd quarter 2020,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281808,281809,Residential Land(Land and Building),Residential Area,13401,Tokyo,Hachijo Town,Mitsune,NaN,NaN,17000000,...,NaN,East,Town Road,6.0,Non-divided City Planning Area,70.0,200.0,2nd quarter 2013,NaN,NaN
281809,281810,Residential Land(Land Only),Residential Area,13401,Tokyo,Hachijo Town,Mitsune,NaN,NaN,5000000,...,NaN,North,Town Road,5.0,Non-divided City Planning Area,70.0,200.0,2nd quarter 2013,NaN,Dealings of adjacent land
281810,281811,Residential Land(Land and Building),Residential Area,13401,Tokyo,Hachijo Town,Mitsune,NaN,NaN,12000000,...,NaN,Southeast,Town Road,6.0,Non-divided City Planning Area,70.0,200.0,1st quarter 2013,NaN,NaN
281811,281812,Residential Land(Land and Building),Residential Area,13421,Tokyo,Ogasawara Village,Chichijima,NaN,NaN,37000000,...,NaN,Northwest,Village Road,8.0,Non-divided City Planning Area,70.0,200.0,3rd quarter 2013,NaN,NaN
281812,281813,Residential Land(Land and Building),Residential Area,13421,Tokyo,Ogasawara Village,Chichijima,NaN,NaN,12000000,...,NaN,East,Village Road,5.3,Non-divided City Planning Area,70.0,200.0,3rd quarter 2013,NaN,NaN

In [ ]:
missing_values_count = tokyo_data.isnull().sum()
missing_values_count

No                                         0
Type                                       0
Region                                135273
City,Town,Ward,Village code                0
Prefecture                                 0
City,Town,Ward,Village                     0
Area                                       0
Nearest stationFName                    940
Nearest stationFDistance(minute)       1269
Transaction-price(total)                   0
Layout                                152712
Area(m^2)                                  0
Transaction-price(Unit price m^2)     234271
Land shape                            135359
Frontage                              148151
Total floor area(m^2)                 186783
Year of construction                   57158
Building structure                     54718
Use                                    71996
Purpose of Use                         59082
Frontage roadFDirection              135275
Frontage roadFClassification         136853
Frontage roadFBreadth(m)             137865
City Planning                           2022
Maximus Building Coverage Ratio(%)      3078
Maximus Floor-area Ratio(%)             3078
Transaction period                         0
Renovation                            163816
Transactional factors                 261905
dtype: int64

In [ ]:
del_list = ["No","Region","Transaction-price(Unit price m^2)","Purpose of Use",
           "Land shape","Frontage","Layout","Total floor area(m^2)",
           "Frontage roadFDirection","Frontage roadFClassification",
           "Frontage roadFBreadth(m)","City,Town,Ward,Village code",
           "Prefecture","City,Town,Ward,Village","Renovation","Transactional factors"]

In [ ]:
for i in del_list:
    del tokyo_data[i]

In [ ]:
tokyo_data

,Type,Area,Nearest stationFName,Nearest stationFDistance(minute),Transaction-price(total),Area(m^2),Year of construction,Building structure,Use,City Planning,Maximus Building Coverage Ratio(%),Maximus Floor-area Ratio(%),Transaction period
0,"Pre-owned Condominiums, etc.",Iidabashi,Iidabashi,5,59000000,35,2007,RC,House,Commercial Zone,80.0,500.0,4th quarter 2020
1,"Pre-owned Condominiums, etc.",Iidabashi,Iidabashi,5,23000000,20,2003,RC,House,Commercial Zone,80.0,500.0,4th quarter 2020
2,"Pre-owned Condominiums, etc.",Iidabashi,Iidabashi,5,26000000,20,2003,RC,House,Commercial Zone,80.0,500.0,4th quarter 2020
3,"Pre-owned Condominiums, etc.",Iidabashi,Iidabashi,4,88000000,60,2007,RC,NaN,Commercial Zone,80.0,500.0,3rd quarter 2020
4,"Pre-owned Condominiums, etc.",Iidabashi,Iidabashi,3,58000000,95,1985,SRC,House,Commercial Zone,80.0,700.0,2nd quarter 2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...
281808,Residential Land(Land and Building),Mitsune,NaN,NaN,17000000,750,2000,W,"House, Shop",Non-divided City Planning Area,70.0,200.0,2nd quarter 2013
281809,Residential Land(Land Only),Mitsune,NaN,NaN,5000000,870,NaN,NaN,NaN,Non-divided City Planning Area,70.0,200.0,2nd quarter 2013
281810,Residential Land(Land and Building),Mitsune,NaN,NaN,12000000,"2,000 m^2 or greater.",NaN,W,House,Non-divided City Planning Area,70.0,200.0,1st quarter 2013
281811,Residential Land(Land and Building),Chichijima,NaN,NaN,37000000,410,1989,RC,House,Non-divided City Planning Area,70.0,200.0,3rd quarter 2013
281812,Residential Land(Land and Building),Chichijima,NaN,NaN,12000000,165,NaN,NaN,NaN,Non-divided City Planning Area,70.0,200.0,3rd quarter 2013

In [ ]:
tokyo_data["Type"].value_counts()

Pre-owned Condominiums, etc.           134918
Residential Land(Land and Building)     98998
Residential Land(Land Only)             47542
Forest Land                               301
Agricultural Land                          54
Name: Type, dtype: int64

In [ ]:
# keep only pre-owned condominiums

tokyo_data.drop(tokyo_data.loc[tokyo_data["Type"] == "Residential Land(Land and Building)"].index, inplace = True)

In [ ]:
tokyo_data.drop(tokyo_data.loc[tokyo_data["Type"] == "Residential Land(Land Only)"].index, inplace = True)

tokyo_data["Type"].value_counts()

Pre-owned Condominiums, etc.    134918
Forest Land                        301
Agricultural Land                   54
Name: Type, dtype: int64

In [ ]:
del tokyo_data["Use"]

In [ ]:
tokyo_data.isna().sum()

Type                                     0
Area                                     0
Nearest stationFName                  361
Nearest stationFDistance(minute)      500
Transaction-price(total)                 0
Area(m^2)                                0
Year of construction                  4130
Building structure                    1956
City Planning                         1758
Maximus Building Coverage Ratio(%)    2160
Maximus Floor-area Ratio(%)           2160
Transaction period                       0
dtype: int64

In [ ]:
median_coverage_ratio = tokyo_data["Maximus Building Coverage Ratio(%)"].median()
print(median_coverage_ratio)
tokyo_data["Maximus Building Coverage Ratio(%)"] = tokyo_data["Maximus Building Coverage Ratio(%)"].replace(np.nan, median_coverage_ratio)
tokyo_data["Maximus Building Coverage Ratio(%)"] = tokyo_data["Maximus Building Coverage Ratio(%)"]/100

60.0

In [ ]:
median_floor_area_ratio = tokyo_data["Maximus Floor-area Ratio(%)"].median()
print(median_floor_area_ratio)
tokyo_data["Maximus Floor-area Ratio(%)"] = tokyo_data["Maximus Floor-area Ratio(%)"].replace(np.nan, median_floor_area_ratio)
tokyo_data["Maximus Floor-area Ratio(%)"] = tokyo_data["Maximus Floor-area Ratio(%)"]/100

300.0

In [ ]:
tokyo_data.dropna(subset=["City Planning"], axis=0, inplace=True)

In [ ]:
tokyo_data.drop(tokyo_data.loc[tokyo_data["Nearest stationFDistance(minute)"] == "2H-"].index, inplace = True)

In [ ]:
tokyo_data["Nearest stationFDistance(minute)"] = tokyo_data["Nearest stationFDistance(minute)"].replace("1H30-2H", 100)

In [ ]:
tokyo_data["Nearest stationFDistance(minute)"] = tokyo_data["Nearest stationFDistance(minute)"].replace("1H-1H30", 70)

In [ ]:
tokyo_data["Nearest stationFDistance(minute)"] = tokyo_data["Nearest stationFDistance(minute)"].replace("30-60minutes", 45)

In [ ]:
median_time = tokyo_data["Nearest stationFDistance(minute)"].median()
print(median_time)
tokyo_data["Nearest stationFDistance(minute)"] = tokyo_data["Nearest stationFDistance(minute)"].replace(np.nan, median_time)

6.0

In [ ]:
tokyo_data.dropna(subset=["Building structure"], axis=0, inplace=True)

In [ ]:
tokyo_data = tokyo_data.replace("before the war", np.nan)

median_year = tokyo_data["Year of construction"].median()
print(median_year)
tokyo_data["Year of construction"] = tokyo_data["Year of construction"].replace(np.nan, median_year)

2002.0

In [ ]:
tokyo_data.isna().sum()

Type                                  0
Area                                  0
Nearest stationFName                 6
Nearest stationFDistance(minute)     0
Transaction-price(total)              0
Area(m^2)                             0
Year of construction                  0
Building structure                    0
City Planning                         0
Maximus Building Coverage Ratio(%)    0
Maximus Floor-area Ratio(%)           0
Transaction period                    0
dtype: int64

In [ ]:
tokyo_data

,Type,Area,Nearest stationFName,Nearest stationFDistance(minute),Transaction-price(total),Area(m^2),Year of construction,Building structure,City Planning,Maximus Building Coverage Ratio(%),Maximus Floor-area Ratio(%),Transaction period
0,"Pre-owned Condominiums, etc.",Iidabashi,Iidabashi,5,59000000,35,2007,RC,Commercial Zone,0.8,5.0,4th quarter 2020
1,"Pre-owned Condominiums, etc.",Iidabashi,Iidabashi,5,23000000,20,2003,RC,Commercial Zone,0.8,5.0,4th quarter 2020
2,"Pre-owned Condominiums, etc.",Iidabashi,Iidabashi,5,26000000,20,2003,RC,Commercial Zone,0.8,5.0,4th quarter 2020
3,"Pre-owned Condominiums, etc.",Iidabashi,Iidabashi,4,88000000,60,2007,RC,Commercial Zone,0.8,5.0,3rd quarter 2020
4,"Pre-owned Condominiums, etc.",Iidabashi,Iidabashi,3,58000000,95,1985,SRC,Commercial Zone,0.8,7.0,2nd quarter 2020
...,...,...,...,...,...,...,...,...,...,...,...,...
281596,"Pre-owned Condominiums, etc.",Yatocho,Hibarigaoka (Tokyo),11,24000000,60,2000,RC,Industrial Zone,0.6,2.0,1st quarter 2013
281597,"Pre-owned Condominiums, etc.",Yatocho,Hibarigaoka (Tokyo),12,31000000,65,1996,SRC,Industrial Zone,0.6,2.0,1st quarter 2013
281653,"Pre-owned Condominiums, etc.",Oaza Hakonegasaki,Hakonegasaki,3,4400000,40,1987,RC,Neighborhood Commercial Zone,0.8,2.0,4th quarter 2013
281657,"Pre-owned Condominiums, etc.",Oaza Hakonegasaki,Hakonegasaki,3,2200000,20,1987,RC,Neighborhood Commercial Zone,0.8,2.0,3rd quarter 2013
281669,"Pre-owned Condominiums, etc.",Hakonegasakihigashimatsubara,Hakonegasaki,14,5000000,40,1989,RC,Industrial Zone,0.6,2.0,3rd quarter 2013

In [ ]:
tokyo_data.dtypes

Type                                   object
Area                                   object
Nearest stationFName                  object
Nearest stationFDistance(minute)      object
Transaction-price(total)                int64
Area(m^2)                              object
Year of construction                   object
Building structure                     object
City Planning                          object
Maximus Building Coverage Ratio(%)    float64
Maximus Floor-area Ratio(%)           float64
Transaction period                     object
dtype: object

In [ ]:
tokyo_data["Area(m^2)"] = tokyo_data["Area(m^2)"].replace("2,000 m^2 or greater.", 2000)

In [ ]:
# change the data types

tokyo_data[["Nearest stationFDistance(minute)", "Area(m^2)"]] = tokyo_data[["Nearest stationFDistance(minute)", "Area(m^2)"]].astype("int")
tokyo_data["Year of construction"] = tokyo_data["Year of construction"].astype("int")
tokyo_data["Transaction-price(total)"] = tokyo_data["Transaction-price(total)"].astype("float")

tokyo_data.dtypes

Type                                   object
Area                                   object
Nearest stationFName                  object
Nearest stationFDistance(minute)       int64
Transaction-price(total)              float64
Area(m^2)                               int64
Year of construction                    int64
Building structure                     object
City Planning                          object
Maximus Building Coverage Ratio(%)    float64
Maximus Floor-area Ratio(%)           float64
Transaction period                     object
dtype: object

In [ ]:
# add "Building Age" column

tokyo_data["Building Age"] = 2020 - tokyo_data["Year of construction"]

tokyo_data.head()

,Type,Area,Nearest stationFName,Nearest stationFDistance(minute),Transaction-price(total),Area(m^2),Year of construction,Building structure,City Planning,Maximus Building Coverage Ratio(%),Maximus Floor-area Ratio(%),Transaction period,Building Age
0,"Pre-owned Condominiums, etc.",Iidabashi,Iidabashi,5,59000000.0,35,2007,RC,Commercial Zone,0.8,5.0,4th quarter 2020,13
1,"Pre-owned Condominiums, etc.",Iidabashi,Iidabashi,5,23000000.0,20,2003,RC,Commercial Zone,0.8,5.0,4th quarter 2020,17
2,"Pre-owned Condominiums, etc.",Iidabashi,Iidabashi,5,26000000.0,20,2003,RC,Commercial Zone,0.8,5.0,4th quarter 2020,17
3,"Pre-owned Condominiums, etc.",Iidabashi,Iidabashi,4,88000000.0,60,2007,RC,Commercial Zone,0.8,5.0,3rd quarter 2020,13
4,"Pre-owned Condominiums, etc.",Iidabashi,Iidabashi,3,58000000.0,95,1985,SRC,Commercial Zone,0.8,7.0,2nd quarter 2020,35

In [ ]:
column_names = list(tokyo_data.columns.values.tolist())
column_names

['Type',
 'Area',
 'Nearest station\x81FName',
 'Nearest station\x81FDistance(minute)',
 'Transaction-price(total)',
 'Area(m^2)',
 'Year of construction',
 'Building structure',
 'City Planning',
 'Maximus Building Coverage Ratio(%)',
 'Maximus Floor-area Ratio(%)',
 'Transaction period',
 'Building Age']

In [ ]:
new_column_names = [ 'Type',
                     'Transaction period',
                     'Building structure',
                     'City Planning',
                     'Year of construction',
                     'Area',
                     'Nearest station\x81FName',
                     'Nearest station\x81FDistance(minute)',
                     'Area(m^2)',
                     'Building Age',
                     'Maximus Building Coverage Ratio(%)',
                     'Maximus Floor-area Ratio(%)',
                     'Transaction-price(total)']
tokyo_data = tokyo_data.reindex(columns=new_column_names)
tokyo_data.head()

,Type,Transaction period,Building structure,City Planning,Year of construction,Area,Nearest stationFName,Nearest stationFDistance(minute),Area(m^2),Building Age,Maximus Building Coverage Ratio(%),Maximus Floor-area Ratio(%),Transaction-price(total)
0,"Pre-owned Condominiums, etc.",4th quarter 2020,RC,Commercial Zone,2007,Iidabashi,Iidabashi,5,35,13,0.8,5.0,59000000.0
1,"Pre-owned Condominiums, etc.",4th quarter 2020,RC,Commercial Zone,2003,Iidabashi,Iidabashi,5,20,17,0.8,5.0,23000000.0
2,"Pre-owned Condominiums, etc.",4th quarter 2020,RC,Commercial Zone,2003,Iidabashi,Iidabashi,5,20,17,0.8,5.0,26000000.0
3,"Pre-owned Condominiums, etc.",3rd quarter 2020,RC,Commercial Zone,2007,Iidabashi,Iidabashi,4,60,13,0.8,5.0,88000000.0
4,"Pre-owned Condominiums, etc.",2nd quarter 2020,SRC,Commercial Zone,1985,Iidabashi,Iidabashi,3,95,35,0.8,7.0,58000000.0

In [ ]:
# rename columns

tokyo_data = tokyo_data.rename(columns={"Type":"type","Area":"location",
                                            "Nearest stationFName":"nearest_station",
                                            "Nearest stationFDistance(minute)":"distance_to_station",
                                            "Area(m^2)":"area","Year of construction":"construction_year",
                                            "Building structure":"building_structure",
                                            "City Planning":"city_planning",
                                            "Maximus Building Coverage Ratio(%)":"maximum_coverage_ratio",
                                            "Maximus Floor-area Ratio(%)":"maximum_floor_area_ratio",
                                            "Transaction period":"transaction_period",
                                            "Building Age":"building_age","Transaction-price(total)":"price"})
tokyo_data.head()

,type,transaction_period,building_structure,city_planning,construction_year,location,nearest_station,distance_to_station,area,building_age,maximum_coverage_ratio,maximum_floor_area_ratio,price
0,"Pre-owned Condominiums, etc.",4th quarter 2020,RC,Commercial Zone,2007,Iidabashi,Iidabashi,5,35,13,0.8,5.0,59000000.0
1,"Pre-owned Condominiums, etc.",4th quarter 2020,RC,Commercial Zone,2003,Iidabashi,Iidabashi,5,20,17,0.8,5.0,23000000.0
2,"Pre-owned Condominiums, etc.",4th quarter 2020,RC,Commercial Zone,2003,Iidabashi,Iidabashi,5,20,17,0.8,5.0,26000000.0
3,"Pre-owned Condominiums, etc.",3rd quarter 2020,RC,Commercial Zone,2007,Iidabashi,Iidabashi,4,60,13,0.8,5.0,88000000.0
4,"Pre-owned Condominiums, etc.",2nd quarter 2020,SRC,Commercial Zone,1985,Iidabashi,Iidabashi,3,95,35,0.8,7.0,58000000.0

In [ ]:
tokyo_data.to_csv("tokyo_cleaned_data.csv")